{% extends 'base.html' %}
{% block body %}
<h1 class="text-center">Filter the Data Using Company Name</h1><br>

<form method="POST" action="/companies" class="my-4">
    <div class="mb-3 bloc">
      <label for="exampleInputEmail1" class="form-label fs-1 text-center">Enter Comapny Name</label>
      <input type="text" name="company" placeholder="Ex ABC INDIA LIMITED" style="text-transform: uppercase;" class="w">
      <button type="submit" id="a_1" class="btn btn-primary w">Submit</button>
    </div>  
    
  </form>
  <table class="table" style="background-color: inherit;">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col"> Total Bonds</th>
        <!-- <th scope="col"> Total Value Of Bonds </th> -->
      </tr>
    </thead>
    <tbody>
      {% if company_name %}
            {% for row in company_name %}
              <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
              </tr>
            {% endfor %}
      {% endif %}
    </tbody>
  </table>

  <h1 class="text-center">Filter the Political Parties the Company has Donated</h1><br>

<form method="POST" action="/companies" class="my-4">
    <div class="mb-3 bloc">
      <label for="exampleInputEmail1" class="form-label fs-1 text-center">Enter Comapny Name</label>
      <input type="text" name="party_company" placeholder="Ex ABC INDIA LIMITED" style="text-transform: uppercase;" class="w">
      <button type="submit" id="a_1" class="btn btn-primary w">Submit</button>
    </div>  
    
  </form>
  <table class="table" style="background-color: inherit;">
    <thead>
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Total Value Donated</th>
        <!-- <th scope="col"> Total Value Of Bonds </th> -->
      </tr>
    </thead>
    <tbody>
      {% if party_company_name %}
            {% for row in party_company_name %}
              <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <!-- <td>{{row[2]}}</td> -->
              </tr>
            {% endfor %}
      {% endif %}
    </tbody>
  </table>
  <script>
    // Clear form data after page reload
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

{% endblock body %}
